raw_data/
wikiart/
ds_zipped/
paintings/
uploaded_painting/
.python-version
.env
.envrc

# Jupiter Notebook #
notebooks/
.pytest_cache
__pycache__
*checkpoint.ipynb
*.ipynb_checkpoints
*.ipynb
model/

*.jpg

.gitignore

smn.egg-info/

# inteliJ #
.idea
*.gz
*PKG-INFO
*.egg-info
*.csv

*.zip
*.sqlite
# IDE #
*.vscode
